body {
    font-family: Arial, sans-serif;
    background:  #2e8b57;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}
.container {
    background: #2e8b57;
    border-radius: 8px;
    width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background: #d3d3d3;
    border-radius: 5px;
}
.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    background: white;
    border: 1px solid #ccc;
}
.result img {
    width: 30px;
    height: 30px;
}
.congrats {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}